body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 9pt;
    font-weight: 300;
}

@media (min-width: 750px) {
    body {
        font-size: 12pt;       
    }
}

@media (min-width: 960px) {
    body {
        font-size: 16pt;       
    }
}

a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: grey;
}

.arrow {
    margin: 10px;
    position:absolute;
    top: 50%;           
}

.right {
    right: 0px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);    
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);    
}

.left {
    -webkit-transform: translate(0, -50%) rotate(180deg);
    -moz-transform: translate(0, -50%) rotate(180deg);    
    -ms-transform: translate(0, -50%) rotate(180deg);
    -o-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg);
}

.arrowShape {
    fill: #ffffff;
    fill-opacity: 0.8;
    stroke: #aaaaaa;
    stroke-width: 1;
    cursor: default;
    -webkit-transition: stroke 0.75s, fill 0.75s;
    -moz-transition: stroke 0.75s, fill 0.75s;
    -ms-transition: stroke 0.75s, fill 0.75s;
    -o-transition: stroke 0.75s, fill 0.75s;
    transition: stroke 0.75s, fill 0.75s;
}

.arrowShape:hover {
    fill: #000000;
    stroke: #000000;
    cursor: pointer;
    -webkit-transition: stroke 0.25s, fill 0.25s;
    -moz-transition: stroke 0.25s, fill 0.25s;
    -ms-transition: stroke 0.25s, fill 0.25s;
    -o-transition: stroke 0.25s, fill 0.25s;
    transition: stroke 0.25s, fill 0.25s;
}


.flex-container {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;  
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;    
    -webkit-align-items: flex-start;
    align-items: flex-start;  
}

.story-container {
    position: absolute;
    bottom: 5%;
    width: 90%;
    max-width: 960px;
/*    left: 5%;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.textbox {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #aaaaaa;
    border-radius: 5px;    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
    cursor: default;   
}

.inactive {
    border: none;
    color: #dddddd;
    pointer-events: none;
}

.active:hover, .active.current {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #000000;
}

span {
    font-weight: 600; 
}

.cas9 {
    color: #888888;
}

.pamdomain {
    color: #A7B6CE;
}

.ruvcdomain {
    color: #8F8BAE;
}

.hnhdomain {
    color: #AB8B8B;
}

.grna {
    color: #E5BBFE;
}

.nucleus {
    color: #666666;   
}

.dna1 {
    color: #8900E6;   
}

.dna2 {
    color: #2600E6;   
}
